


.h { background-image:url(./download.jpg);
    background-size: cover;
    background-position: center;
    width: 400px; 
    font-family: Arial;
    padding: 20px 20px;
    margin: 10px auto;
    
    
    }
    
    
.box1{ background-image: url(./download\ \(1\).jpg);
    background-position: center;
background-size: cover;
    width: 400px; 
font-family: Arial;
padding: 20px 20px;
margin: 10px auto;



}

.box2{ background-color: rgb(124, 138, 127);
    width: 400px; 
    font-family: Arial;
    padding: 20px 20px;
    margin: 10px auto;
    
    
    
    }
    
    .box3{ background-color: rgb(112, 177, 126);
        width: 400px; 
        font-family: Arial;
        padding: 20px 20px;
        margin: 10px auto;
        
        
        
        }
        
        .box4{ background-color: rgb(34, 63, 40);
            width: 400px; 
            font-family: Arial;
            padding: 20px 20px;
            margin: 10px auto;
            
            
            
            }
            
            .box5{ background-color: rgb(48, 88, 57));
                width: 400px; 
                font-family: Arial;
                padding: 20px 20px;
                margin: 10px auto;
                
                
                
                }
                
                .box6{ background-color: rgb(65, 175, 89);
                    width: 400px; 
                    font-family: Arial;
                    padding: 20px 20px;
                    margin: 10px auto;
                    
                    
                    
                    }
                    
                    .box7{ background-color: rgb(65, 175, 89);
                        width: 400px; 
                        font-family: Arial;
                        padding: 20px 20px;
                        margin: 10px auto;
                        
                        
                        
                        }
                        
                        .box8{ background-color: rgb(65, 175, 89);
                            width: 400px; 
                            font-family: Arial;
                            padding: 20px 20px;
                            margin: 10px auto;
                            
                            
                            
                            }
                            
                            .box9{ background-color: rgb(65, 175, 89);
                                width: 400px; 
                                font-family: Arial;
                                padding: 20px 20px;
                                margin: 10px auto;
                                
                                
                                
                                }
                                
                                .box10{ background-color: rgb(65, 175, 89);
                                    width: 400px; 
                                    font-family: Arial;
                                    padding: 20px 20px;
                                    margin: 10px auto;
                                    
                                    
                                    
                                    }
                                    
                                    .box11{ background-color: rgb(65, 175, 89);
                                        width: 400px; 
                                        font-family: Arial;
                                        padding: 20px 20px;
                                        margin: 10px auto;
                                        
                                        
                                        
                                        }
                                        
                                        .box12{ background-color: rgb(65, 175, 89);
                                            width: 400px; 
                                            font-family: Arial;
                                            padding: 20px 20px;
                                            margin: 10px auto;
                                            
                                            
                                            
                                            }
                                            
                                            .box13{ background-color: rgb(65, 175, 89);
                                                width: 400px; 
                                                font-family: Arial;
                                                padding: 20px 20px;
                                                margin: 10px auto;
                                                
                                                
                                                
                                                }
                                                
                                                                                                                                                                                                                                                                                                                        